<h1><i class="fa fa-leaf"></i>&nbsp;<%- __('Materials') %></h1>

<div class="panel panel-default">
    <div class="panel-heading with-button">
        <a href="/material/add" class="btn btn-primary trg-add-material"><i
                    class="fa fa-plus"></i>&nbsp;<%- __('Add material') %></a>
        <% if (materials && materials.length) { %>
        <h3 class="panel-title"><%- __n("%s material", "%s materials", materials.length || 0); %></h3>
        <% } else { %>
        <%- __('No material found.') %>
        <% } %>
    </div>
    <% if (materials && materials.length) { %>
    <table class="table material-list">
        <% for (let material of materials) { %>
        <% include partial/root-list-item.ejs %>
        <% } %>
    </table>
    <% } %>
</div>

<div id="material-message-container"></div>

<script type="text/javascript">
    $(function () {
        $('.trg-delete-file').click(function (e) {
            e.preventDefault();
            e.stopPropagation();

            var $this = $(this);
            var $fileLink = $this.closest('li').find('a.get span.link-label').first();
            var fileIcon = $this.closest('li').find('a.get i').first().attr('class');
            console.log(fileIcon);

            var confirmContent = $('<div>').text(Locale3DPTools.__('Do you really want to delete this file?'));
            confirmContent.append($('<br>'));
            confirmContent.append($('<i>').addClass(fileIcon));
            confirmContent.append('&nbsp;'+$fileLink.text());

            App3DPTools.confirmModal(confirmContent, function () {
                $.ajax({
                    type: "DELETE",
                    url: $this.attr('href'),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {
                        document.location = document.location;
                    },
                    error: function (xhr, status, errorMsg) {
                        if (xhr.responseJSON) {
                            var data = xhr.responseJSON;
                            if (data.message) {
                                App3DPTools.errorFlash('#filament-message-container', data.message);
                                return;
                            }
                        }
                        App3DPTools.errorFlash('#filament-message-container', errorMsg);
                    }
                });
            });
        });

        function deleteMaterial(materialId) {
            $.ajax({
                type: "DELETE",
                url: '/material/delete/'+materialId,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data.message) {
                        App3DPTools.successFlash('#material-message-container', data.message);
                    }
                    document.location = document.location;
                },
                error: function (xhr, status, errorMsg) {
                    if (xhr.responseJSON) {
                        var data = xhr.responseJSON;
                        if (data.message) {
                            App3DPTools.errorFlash('#material-message-container', data.message);
                            return;
                        }
                    }
                    App3DPTools.errorFlash('#material-message-container', errorMsg);
                }
            });
        }

        $('.trg-delete-material').click(function (e) {
            e.preventDefault();

            var $this = $(this);
            var materialId = $this.data('id');

            $.ajax({
                type: "GET",
                url: '/material/get/'+materialId,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data.material) {
                        App3DPTools.confirmModal(Locale3DPTools.__('Delete %s material?', data.material.name), function () {
                            deleteMaterial(materialId);
                        });
                    } else {
                        App3DPTools.errorFlash('#material-message-container', Locale3DPTools.__('Error while retrieving data for material %s.', materialId));
                        return;
                    }
                },
                error: function (xhr, status, errorMsg) {
                    if (xhr.responseJSON) {
                        var data = xhr.responseJSON;
                        if (data.message) {
                            App3DPTools.errorFlash('#material-message-container', data.message);
                            return;
                        }
                    }
                    App3DPTools.errorFlash('#material-message-container', errorMsg);
                }
            });
        });
    });
</script>