<ul class="nav nav-tabs nav-tabs-title">
    <li role="presentation" class="active"><h1><i class="fa fa-pie-chart"></i> <%- __('Filaments statistics') %></h1></li>
    <li role="presentation"><a href="/filament"><i class="rs rs-filament"></i>&nbsp;<%- __('Filaments') %></a></li>
</ul>

blu