@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap-compass";
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "bootstrap-variables";
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../vendor/font-awesome/scss/font-awesome";
@import "flag-icon-alias";

body {
  padding-top: 50px;

  &.setup-section {
    padding-top: 0px;
  }
}

.navbar-fixed-top {
  border-bottom: 0;
}

.navbar-inverse .navbar-nav {
  > .open > a {
    &,
    &:hover,
    &:focus {
      background-color: $navbar-inverse-link-open-bg;
      color: $navbar-inverse-link-open-color;
    }
  }

  .dropdown-menu {
    background-color: $navbar-inverse-bg;
    border-color: $navbar-inverse-border;
    border-top: 0;

    > li {
      &.active > a {
        background-color: $navbar-inverse-link-open-bg;
        color: $navbar-inverse-link-open-color;
      }
      > a {
        color: $navbar-inverse-link-color;
        &:hover {
          color: $navbar-inverse-link-hover-color;
          background-color: $navbar-inverse-link-open-bg;
        }
        > .fa.pull-right {
          margin-top: 0.3em;
        }
      }

      &.divider {
        background-color: $navbar-inverse-border;
      }
    }
  }
}

.dropdown.language-selector > .dropdown-menu > li.active {
  &.active > a {
    background-color: transparent;
  }
}

.form-group > ul.help-block {
  padding-left: 30px;
}

.login-section {
  > .container {
    margin-top: 100px;
    max-width: 400px;
  }
}

.setup-section {

  > h1 {
    margin:20px;
  }

  .panel .instruction {
    font-size: larger;
    margin-bottom:20px;
  }

  .create-user {
    max-width:800px;
  }

  #pwd1-group {
    margin-bottom:10px;
  }
}

.panel-heading.with-button {
  @include clearfix();
  > .btn, .btn-group {
    float: right !important;
    margin-top: -7px;
    margin-bottom: -7px;
    margin-right: -12px;
  }
  > .btn, .btn-group > .btn {
    @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
  }
}

table.table {
  > tr, tbody > tr {
    td.table-actions {
      text-align: right;
      a:not(:last-of-type) {
        margin-right: 5px;
      }
    }
  }
}