@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap-compass";
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "bootstrap-variables";
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../vendor/font-awesome/scss/font-awesome";
@import "flag-icon-alias";
@import "p3dfont.css";

body {
  padding-top: 50px;

  &.setup-section {
    padding-top: 0px;
  }
}

h1 {
  margin-bottom: 30px;
}

.navbar-fixed-top {
  border-bottom: 0;
}

.navbar-inverse .navbar-nav {
  > .open > a {
    &,
    &:hover,
    &:focus {
      background-color: $navbar-inverse-link-open-bg;
      color: $navbar-inverse-link-open-color;
    }
  }

  .dropdown-menu {
    background-color: $navbar-inverse-bg;
    border-color: $navbar-inverse-border;
    border-top: 0;

    > li {
      &.active > a {
        background-color: $navbar-inverse-link-open-bg;
        color: $navbar-inverse-link-open-color;
      }
      > a {
        color: $navbar-inverse-link-color;
        &:hover {
          color: $navbar-inverse-link-hover-color;
          background-color: $navbar-inverse-link-open-bg;
        }
        > .fa.pull-right {
          margin-top: 0.3em;
        }
      }

      &.divider {
        background-color: $navbar-inverse-border;
      }
    }
  }
}

.dropdown.language-selector > .dropdown-menu > li.active {
  &.active > a {
    background-color: transparent;
  }
}

.modal-header.draggable {
  cursor: move;
}

.form-group > ul.help-block {
  padding-left: 30px;

  &.with-errors:empty {
    display: none;
  }
}

.control-label.required:after {
  content: '*';
  margin-left: 5px;
  color: $brand-warning;
}

.button-bar {
  text-align: right;
}

.login-section {
  > .container {
    margin-top: 100px;
    max-width: 400px;
  }
}

.setup-section {

  > h1 {
    margin: 20px;
  }

  .panel .instruction {
    font-size: larger;
    margin-bottom: 20px;
  }

  .create-user {
    max-width: 800px;
  }

  #pwd1-group {
    margin-bottom: 10px;
  }
}

.panel-heading.with-button {
  @include clearfix();
  > .btn, .btn-group {
    float: right !important;
    margin-top: -7px;
    margin-bottom: -7px;
    margin-right: -12px;
  }
  > .btn, .btn-group > .btn {
    @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
  }
}

.fa-overlay {
  position: relative;
}

.fa-overlay-se {

  position: absolute;
  font-size: 0.5em;
  right: 0.5em;
  bottom: 0em;
  text-shadow: -1px -1px white, -1px 1px white, 1px 1px white, 1px -1px white;
}

table.table {
  > tr, tbody > tr {
    td.table-actions {
      text-align: right;
      a:not(:last-of-type) {
        margin-right: 5px;
      }
    }
  }
}

table.shop-list, table.brand-list, table.material-list, table.filament-list {
  & > tbody > tr > td {
    vertical-align: middle;
  }
  td.table-actions > .actions-block {
    display: inline-block;
    text-align: left;
  }

  .shop-name, .brand-name, .material-name {
    margin: 5px 0;
    font-size: larger;
    font-weight: bold;
  }

  .shop-logo, .brand-logo {
    max-height: 100px;
    max-width: 300px;
  }
}

form.logo-shop, form.logo-brand {
  .row-or {
    @include make-row();
    vertical-align: middle;

    & > div {
      vertical-align: middle;
    }

    .cell-upload-logo {
      @include make-md-column(5);
    }
    .cell-or {
      @include make-md-column(2);
      font-style: italic;
      text-align: center;
    }
    .cell-remove-logo {
      @include make-md-column(5);
      text-align: right;
    }
  }
}

.current-logo {
  margin-bottom: 20px;

  & > h2:first-child {
    font-size: 1.5em;
  }

  .shop-logo, .brand-logo {
    max-height: 100px;
    max-width: 300px;
  }
}

.form-material {
  .input-density {
    max-width: 200px;
  }
  .input-temperature {
    max-width: 75px;
  }
}

table.material-list {

  & > tbody > tr > td.material-description {
    border-top: 0;
    padding-top: 0;
    vertical-align: top;
  }
}

.home-section {
  & > .container {
    padding-top: 30px;
  }

  .side-info .panel-body {
    h3 {
      margin: 0;
      font-size: small;
    }
    .shop-block, .brand-block, .material-block {
      margin: 10px 0;
      display: block;
      text-align: center;

      .shop-logo, .brand-logo, .material-logo {
        max-height: 100px;
        max-width: 100%;
      }
      .shop-name, .brand-name, .material-name {
        margin: 5px 0;
        font-size: larger;
        font-weight: bold;
      }
    }
    .material-block {
      text-align: left;
      .material-description {
        margin-top: 5px;
      }
    }
  }
}

.filament-section {
  .color-preview {
    display: inline-block;
    height: 16px;
    vertical-align: text-top;
    width: 16px;
    border: solid 1px #333;
  }

  .bootstrap-select {
    .filter-option {
      .brand-logo, .shop-logo {
        max-height: 16px;
      }
    }

    .dropdown-menu {
      .brand-logo, .shop-logo {
        float: right !important;
        max-height: 16px;
      }
    }
  }

  .table.filament-list {
    .color-preview {
      height: 46px;
      width: 46px;
    }
    .brand-logo, .shop-logo {
      max-height: 46px;
      max-width: 130px;
    }
    .progress {
      margin-bottom: 0;
    }
  }
}

.filament-show-layout {
  display: flex;

  .filament-details, .filament-content, .filament-actions {
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
    &:first-of-type {
      margin-left: 0;
    }
  }

  .filament-details {
    @extend .panel;
    @extend .panel-default;
    padding: 5px;
    width: 350px;

    & > table > tbody > tr {
      & > td {
        padding: 2px;
      }
      & > td:first-of-type {
        font-weight: bold;
        text-align: right;
        vertical-align: top;
      }
    }
    .brand-logo-container {
      text-align: center;

      .brand-logo {
        max-width: 100%;
      }
    }
  }

  .filament-content {
    flex-grow: 1
  }

  .filament-actions {
    width: 160px;

    & > title {
      display: block;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      font-size: smaller;
      height: 20px;
      margin-top: -20px;
    }

    & > a {
      margin-bottom: 5px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.filament-content {
  & > div {
    margin-top: 20px;
    &:first-of-type {
      margin-top: 0;
    }
  }
  .buy-data table > tbody > tr > td {
    vertical-align: middle;
    &.shop-data {
      padding-right: 20px;
    }
  }
  .shop-logo {
    max-height: 55px
  }

  .filament-left-data {
    .progress {
      margin-bottom: 0;
    }
  }
}

.progress .progress-text {
  text-align: center;
  vertical-align: middle;
  font-size: $font-size-small;
  height: 100%;
  line-height: $line-height-computed;
}

.filament-pictures {
  & > img {
    max-width: 150px;
  }
}
