@font-face {
  font-family: 'FontRepetier';
  src: url('../fonts/repetierfonts.eot?v=1.0');
  src: url('../fonts/repetierfonts.eot?#iefix&v=1.0') format('embedded-opentype'), url('../fonts/repetierfonts.woff?v=1.0') format('woff'), url('../fonts/repetierfonts.ttf?v=1.0') format('truetype'), url('../fonts/repetierfonts.svg?v=1.0') format('svg');
  font-weight: normal;
  font-style: normal;
}
.rs {
  display: inline-block;
  font: normal normal normal 14px/1 FontRepetier;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.rs-bigger {
  font-size: 1.25em;
}
.rs-curaengine:before {
  content: "C";
}
.rs-cut:before {
  content: "D";
}
.rs-mirror:before {
  content: "E";
}
.rs-scale:before {
  content: "F";
}
.rs-center:before {
  content: "G";
}
.rs-rotate:before {
  content: "H";
}
.rs-autoarrange:before {
  content: "I";
}
.rs-sdcard:before {
  content: "J";
}
.rs-pushmessage:before {
  content: "K";
}
.rs-key:before {
  content: "L";
}
.rs-file-video:before {
  content: "M";
}
.rs-file-image:before {
  content: "N";
}
.rs-file-gcode:before {
  content: "O";
}
.rs-file-object:before {
  content: "P";
}
.rs-file:before {
  content: "Q";
}
.rs-repetier-slicer:before {
  content: "R";
}
.rs-slice:before {
  content: "S";
}
.rs-motor:before {
  content: "U";
}
.rs-motor-off:before {
  content: "V";
}
.rs-extruder:before {
  content: "W";
}
.rs-heated-bed:before {
  content: "Y";
}
.rs-support-none:before {
  content: "a";
}
.rs-support-bed:before {
  content: "b";
}
.rs-support-everywhere:before {
  content: "c";
}
.rs-brim:before {
  content: "d";
}
.rs-raft:before {
  content: "e";
}
.rs-no-skirt:before {
  content: "f";
}
.rs-skirt:before {
  content: "g";
}
.rs-infill-concentric:before {
  content: "h";
}
.rs-infill-lines:before {
  content: "i";
}
.rs-infill-grid:before {
  content: "j";
}
.rs-infill-connected-lines:before {
  content: "k";
}
.rs-infill-auto:before {
  content: "l";
}
.rs-bed:before {
  content: "m";
}
.rs-filament:before {
  content: "n";
}
.rs-fan:before {
  content: "o";
}
.rs-speed:before {
  content: "p";
}
.rs-flow:before {
  content: "q";
}
.rs-backspace:before {
  content: "r";
}
.rs-chamber:before {
  content: "s";
}
.rs-printer:before {
  content: "t";
}
.rs-topleft:before {
  content: "u";
}
.rs-topright:before {
  content: "v";
}
.rs-bottomleft:before {
  content: "w";
}
.rs-bottomright:before {
  content: "x";
}
.rs-print:before {
  content: "B";
}
.rs-webcam:before {
  content: "y";
}
.rs-temperature:before {
  content: "X";
}
.rs-timelapse:before {
  content: "Z";
}
.rs-firmwareupload:before {
  content: "z";
}
.rs-emergency:before {
  content: "A";
}
.rs-emergency-1 {
  color: #ffcc00;
}
.rs-emergency-1:before {
  content: "\00a2";
}
.rs-emergency-2 {
  color: #000000;
}
.rs-emergency-2:before {
  content: "\00a4";
}
.rs-emergency-3 {
  color: #c00808;
}
.rs-emergency-3:before {
  content: "\00a3";
}
.rs-emergency-4 {
  color: #ffffff;
}
.rs-emergency-4:before {
  content: "\00a1";
}
.rs-eeprom-settings:before {
  content: "\00a5";
}
.rs-log:before {
  content: "\00a6";
}
.rs-tempcurve:before {
  content: "\00a8";
}
.rs-wheel:before {
  content: "\00a8";
}
.rs-autoposition-a:before {
  content: "\0021";
}
.rs-autoposition-b:before {
  content: "\0022";
}
.rs-center-a:before {
  content: "\0023";
}
.rs-center-b:before {
  content: "\0024";
}
.rs-dropdown-a:before {
  content: "\0025";
}
.rs-dropdown-b:before {
  content: "\0026";
}
.rs-layflat-a:before {
  content: "\0027";
}
.rs-layflat-b:before {
  content: "\0028";
}
.rs-duplicate-a:before {
  content: "\002a";
}
.rs-duplicate-b:before {
  content: "\0029";
}
.rs-move-a:before {
  content: "\002b";
}
.rs-move-b:before {
  content: "\002c";
}
.rs-resize-a:before {
  content: "\002d";
}
.rs-resize-b:before {
  content: "\002e";
}
.rs-rotate-a:before {
  content: "\0030";
}
.rs-rotate-b:before {
  content: "\002f";
}
.rs-showtriangles-a:before {
  content: "\0032";
}
.rs-showtriangles-b:before {
  content: "\0031";
}
.rs-sliceobjects-a:before {
  content: "\0033";
}
.rs-sliceobjects-b:before {
  content: "\0034";
}
.rs-splitobjects-a:before {
  content: "\0035";
}
.rs-splitobjects-b:before {
  content: "\0036";
}
.rs-mirror-a:before {
  content: "\0037";
}
.rs-mirror-b:before {
  content: "\0038";
}
.rs-distance-a:before {
  content: "\0039";
}
.rs-distance-b:before {
  content: "\003a";
}
.rs-google-drive:before {
  content: "\00a9";
}
.rs-fw {
  width: 30px;
  text-align: left;
}
.rs-bigtab {
  vertical-align: top;
  font-size: 20px !important;
  padding-right: 4px;
}
.rs-big {
  vertical-align: top;
  font-size: 20px !important;
}
.rs-bigger-xs {
  font-size: 16px !important;
}

