<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><%- __('Setup complete'); %></h3>
    </div>
    <div class="panel-body">
        <p class="instruction">
            <%- __("Congratulation, setup is completed."); %>
        </p>
        <div class="text-center"><a href="/" class="btn btn-success text-center"><%- __("Return to home") %></a></div>
    </div>
</div>