<p>
    <%= __('Hello %s,', user.firstname) %>
</p>
<%- marked(__('We inform you that your password for your [3DPTools](%s)\'s account has been changed.', rootUrl)); %>
<%- marked(__('**If you are not the one who changed the password, please immediately follow the [account recovery process](%s) to reset your password to a new one.**', rootUrl+'/recover-account')); %>

